.App {
  text-align: center;
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'main main main main main main'
    'footer footer footer footer footer footer';
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.AppWithCart{
  text-align: center;
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'shoppingCart main main main main main'
    'shoppingCart footer footer footer footer footer';
}
.header { grid-area: header;
 z-index: 91;
position:fixed;
width: 100%;
margin-bottom:100%}
.shoppingCart { 
  grid-area: shoppingCart; 
  margin-top: 52px;
  width: 400px;
  
  position: fixed;
}
.main { 
  grid-area: main;
 }
.footer { grid-area: footer;
margin-top: 0px;
height: 20px;text-align: center;
color: rgb(255, 180, 0);}

