.header-reception{
   background:   rgb(255, 188, 0);
   margin-bottom: 0px;
    margin-top: 0px;
    direction: rtl;

}
.btn-exit{
      font: 2.1em opensanshebrew-bold-webfont;
    background:  rgb(14, 60, 102);
    color: #fff;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-style: none;
}

.nameItem {

    width: 220px;
    height: 20px;
    font-size: 15px;
    text-align: right;
    padding-bottom: 30px;

}
.gridContainerItemCart {
  display: grid;
  grid-template-columns: auto auto auto;
  border-bottom-width: 2px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-width: 2px;
  border-style:  solid;
  height: 6.2em;
  padding: 1px;
  border-color: rgb(161, 157, 157);
  border-top-width: 0px;
  background-color: white;

}
.gridItemCart {

  font-size: 15px;
  text-align: center;
}

.imgItem{
  width: 90PX;

}
.numItem{
  border-radius: 18px;
  border-color: rgb(255, 188, 0);
  height: 31px;
text-align: center;
font-size: 10px important!;
max-width: 33px;
}

.gridItemCart>button{    width: 33px;
  height: 31px;text-align: center;
  border-radius: 18px;
  border-color: rgb(255, 188, 0);
  height: 31px;
text-align: center;
font-size: 10px important!;
max-width: 33px;}
