
.shipingBody{
    background-color: white;
    width: 130%;
    height: 130%;
    text-align: center;
    padding-bottom: 5%;
    width: 500px;
    margin-left: 20%;
    direction: rtl;
}
.shipingInputs{
    padding-top: 5%; 
}
.shipingButton {
    display: inline-block;
    border-radius: 4px;
    background-color: rgb(14, 60, 102);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 2px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    margin-bottom: 2%;
  }
  
  .shipingButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .shipingButton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .shipingButton:hover span {
    padding-right: 25px;
  }
  
  .shipingButton:hover span:after {
    opacity: 1;
    right: 0;
  }
  .paymentBackground{
    padding-top: 10% !important;
    padding: 25%;
    background-color: rgb(14, 60, 102);
}
